extends html

snippet meta "meta for responsive web design"
<!-- http://www.gonzoblog.nl/2013/01/16/11-useful-css-code-snippets-for-responsive-web-design/ -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
endsnippet
