extends scss


snippet stylel "stylelint-disable-line"
/* stylelint-disable-line ${0:rule} */
endsnippet

snippet styleli "stylelint-disable-next-line"
/* stylelint-disable-next-line ${0:rule} */
endsnippet

snippet stylin "stylelint-disable-block"
/* stylelint-disable ${1:rule} */
$0
/* stylelint-enable ${1:rule} */
endsnippet
