// ellipsis for block style
%ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// ellipsis for inline-block style

%ellipse-inline-block {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  // fix https://stackoverflow.com/questions/20566710/overflowhidden-displayinline-block-moves-text-upwards
  vertical-align: bottom;
}

%overflow-inline-block-fix {
  overflow: hidden;
  // fix https://stackoverflow.com/questions/20566710/overflowhidden-displayinline-block-moves-text-upwards
  vertical-align: bottom;
}
